/build/
/dist/
/private/
__pycache__/
*.py[cod]
*.dll
*.exe
*.lib
*.obj
*.nvda-addon
*.zip
*.cab
*.chm
*.wav
*.pcm
*.dic
!/nvda/addon/locale/en/symbols-openevv.dic
!/nvda/addon/locale/de/symbols-openevv.dic
*.log
.env
.env.*
/nvda/addon/synthDrivers/openevv_engine/
